<template>
  <div class="text-center">
    <v-dialog v-model="dialogVisible" width="800">
      <v-card color="orange lighten-4">
        <v-img
          :src="getCocktailToDisplay.thumb"
          class="white--text align-end"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          height="500px"
        >
          <v-card-title> {{ getCocktailToDisplay.name }}</v-card-title>
        </v-img>
        <v-card-title> Instructions </v-card-title>
        <v-card-text>{{ getCocktailToDisplay.instruction }}</v-card-text>

        <v-divider class="ma-4"></v-divider>

        <v-card-title>Ingredients</v-card-title>
        <v-card-text>
          <li
            v-for="item in getCocktailToDisplay.ingredients"
            :key="item.ingredient"
          >
            <span> {{ item.ingredient }} : {{ item.quantity }}</span>
          </li>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            @click="setDialogVisible({ bool: false })"
            color="primary"
            text
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from "vuex";

export default {
  name: "Dialog",
  components: {},
  data: () => ({}),
  computed: {
    ...mapGetters(["getCocktailToDisplay"]),
    ...mapState(["visibility"]),
    dialogVisible: {
      get() {
        return this.$store.state.dialogVisibility;
      },
      set(val) {
        this.setDialogVisible({ bool: val });
      },
    },
  },
  methods: {
    ...mapMutations(["setDialogVisible", "setDialogVisible"]),
  },
};
</script>
