/* eslint-disable vue/no-parsing-error */ /* eslint-disable vue/valid-v-bind */
<template>
  <v-container>
    <Dialog />
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/cocktails.png')"
          class="my-3"
          contain
          height="300"
        />
      </v-col>
      <v-col class="mb-4">
        <span class="display-2">
          What are you craving?
        </span>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-form>
          <v-text-field
            @keydown.enter.prevent="search"
            label="Your favorite alcohol... "
            v-model="alcohol"
          >
          </v-text-field>
          <v-row align="center" justify="end">
            <v-btn @click="search" small color="orange lighten-3">Search</v-btn>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
    <span> </span>

    <v-row class="mt-4">
      <v-col v-for="item in drinks" v-bind:key="item.id" cols="4">
        <v-card color="orange lighten-4">
          <v-img
            :src="item.thumb"
            class="white--text align-end"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="200px"
          >
            <v-card-title v-text="item.name"></v-card-title>
          </v-img>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  @click="addToFavorites(item)"
                >
                  <v-icon :color="isInFavorites(item.id) ? 'red' : ''"
                    >mdi-heart</v-icon
                  >
                </v-btn>
              </template>
              <span v-if="isInFavorites(item.id)">Unlike</span>
              <span v-else>Add to favorites</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click="displayRecipe(item)"
                  icon
                >
                  <v-icon>mdi-glass-cocktail</v-icon></v-btn
                >
              </template>
              <span>Get recipe</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar v-model="snackbar">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="orange" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import Dialog from "./Dialog";

import {
  apiKey,
  apiHost,
  serviceUrlFilter,
  serviceUrlLookup,
} from "../../configs";
import axios from "axios";
import { mapMutations, mapState, mapActions } from "vuex";

export default {
  name: "Form",
  components: {
    Dialog,
  },
  data: () => ({
    alcohol: "",
    drinks: [],
    idChosen: "",
    snackbar: false,
    text: "",
  }),
  watch: {
    displayFavorites: function() {
      this.drinks = [];
      this.drinks = [...this.user.drinks];
    },
    favorites() {
      if (this.displayFavorites) {
        this.drinks = [];
        this.drinks = [...this.favorites];
      }
    },
  },
  computed: {
    ...mapState(["recipes", "user"]),
    displayFavorites: {
      get() {
        return this.$store.state.displayFavorites;
      },
    },
    favorites: {
      get() {
        return this.$store.state.user.drinks;
      },
    },
  },
  methods: {
    ...mapMutations([
      "setCocktailToDisplay",
      "setDialogVisible",
      "setExistingCocktailToDisplay",
      "setDisplayOnlyFavorites",
    ]),
    ...mapActions(["addFavoriteDrink"]),
    async addToFavorites(item) {
      await this.addFavoriteDrink(item);
      if (this.isInFavorites(item.id)) {
        this.text = "Successfully removed from favorites";
        if (this.displayFavorites) {
          console.log("I refresh favs display");
          this.drinks = [...this.user.drinks];
        }
      } else {
        this.text = "Successfully added to favorites.";
      }
      this.snackbar = true;
    },
    isInFavorites(id) {
      if (this.user.drinks.find((el) => el.id === id) == undefined) {
        return false;
      }
      return true;
    },
    displayRecipe(item) {
      //const itemExists = this.recipes.find(el => el.id = item.id);
      /*if(itemExists){
          this.setExistingCocktailToDisplay(item);
          this.setDialogVisible({bool:true});
          return;
        }*/

      this.setCocktailToDisplay(item.id);
      let self = this;
      const options = {
        method: "GET",
        url: serviceUrlLookup,
        params: { i: item.id.toString() },
        headers: {
          "x-rapidapi-host": apiHost,
          "x-rapidapi-key": apiKey,
        },
      };
      axios
        .request(options)
        .then(function(response) {
          self.setCocktailToDisplay(response.data.drinks[0]);
          self.setDialogVisible({ bool: true });
        })
        .catch(function(error) {
          console.error(error);
        });
    },
    resetResults() {
      this.drinks = [];
    },
    search() {
      this.setDisplayOnlyFavorites({ bool: false });
      let self = this;
      const options = {
        url: serviceUrlFilter,
        params: { i: this.alcohol },
        headers: {
          "x-rapidapi-host": apiHost,
          "x-rapidapi-key": apiKey,
        },
      };
      axios
        .request(options)
        .then(function(res) {
          self.resetResults();
          self.cocktail = "";
          const result = res.data.drinks;
          result.forEach((item) => {
            self.drinks.push({
              name: item.strDrink,
              id: item.idDrink,
              thumb: item.strDrinkThumb,
            });
          });
        })
        .catch(function(error) {
          console.error(error);
        });
    },
  },
};
</script>
