<template>
  <v-app>
    <v-container class="d-flex justify-center mt-12">
      <v-card width="70%">
        <v-tabs centered dark elevation="0">
          <v-tab>Login</v-tab>
          <v-tab>Signup</v-tab>

          <v-tab-item :key="1">
            <v-card elevation="0" class="ma-8">
              <v-form>
                <v-text-field label="Email" v-model="email"></v-text-field>
                <v-text-field
                  type="password"
                  label="Password"
                  v-model="password"
                ></v-text-field>
                <v-btn class="mr-4" color="success" @click="validate(false)"
                  >Log me in</v-btn
                >
                <v-btn class="mr-4" color="error" @click="validate"
                  >Cancel</v-btn
                >
              </v-form>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="2">
            <v-card elevation="0" class="ma-8">
              <v-form ref="form">
                <v-text-field label="Name" v-model="name"></v-text-field>
                <v-text-field
                  :rules="([rules.required], [rules.email])"
                  label="E-mail"
                  v-model="email"
                ></v-text-field>
                <v-text-field
                  :rules="[rules.password]"
                  type="password"
                  label="Password"
                  v-model="password"
                ></v-text-field>
                <v-text-field
                  label="Location"
                  v-model="location"
                ></v-text-field>
                <v-btn class="mr-4" color="success" @click="validate(true)"
                  >Sign up</v-btn
                >
                <v-btn class="mr-4" color="error" @click="reset">Cancel</v-btn>
              </v-form>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "App",

  components: {},

  data: () => ({
    name: "",
    email: "",
    location: "",
    password: "",
    rules: {
      required: (value) => !!value || "Required.",
      email: (value) => {
        const pattern = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
        return (pattern.test(value) && value.length > 5) || "Invalid email.";
      },
      password: (value) => value.length > 8 || "At least 8 characters",
    },
  }),

  methods: {
    ...mapActions(["login", "signup"]),
    validate(signup) {
      if (signup) {
        this.signup({
          name: this.name,
          email: this.email,
          password: this.password,
          location: this.location,
        });
        return;
      }
      this.login({ email: this.email, password: this.password });
    },
    reset() {},
  },
};
</script>
