<template>
  <v-app>
    <v-app-bar app color="orange lighten-3">
      <div class="d-flex align-center">
        <v-img
          class="shrink mr-2"
          contain
          src="./assets/drink_logo.png"
          transition="scale-transition"
          width="40"
        />
      </div>

      <v-spacer />
      <span v-if="userLogged">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              @click="setDisplayOnlyFavorites({ bool: true })"
              v-bind="attrs"
              v-on="on"
              fab
              icon
              class="ma-1"
              large
            >
              <v-icon>mdi-heart</v-icon>
            </v-btn>
          </template>
          <span>Go to favorites</span>
        </v-tooltip>
      </span>

      <span v-if="userLogged">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              @click="logout()"
              fab
              icon
              class="ma-1"
              large
            >
              <v-icon>mdi-logout-variant</v-icon>
            </v-btn>
          </template>
          <span>Log me out</span>
        </v-tooltip>
      </span>
    </v-app-bar>

    <v-main>
      <!-- div v-if="!userLogged" -->
      <div v-if="!userLogged">
        <Login />
      </div>
      <div v-else>
        <Form />
      </div>
      <v-snackbar v-model="snackbar">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="orange" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import Form from "./components/Form";
import Login from "./components/Login";
import { mapMutations } from "vuex";
export default {
  name: "App",
  components: {
    Login,
    Form,
  },

  data: () => ({
    snackbar: false,
    text: "",
  }),
  computed: {
    userLogged: {
      get() {
        return this.$store.state.userLogged;
      },
    },
  },
  methods: {
    ...mapMutations(["setUserLogged", "setDisplayOnlyFavorites"]),
    logout() {
      this.text = "Successfully logged out";
      this.snackbar = true;
      this.setUserLogged({ bool: false });
    },
  },
};
</script>
